.jumbotron p {
  font-size: inherit !important;
  margin-bottom: 0.8rem !important;
}

.btn-intro {
  background-color: #03A9F4;
  border-color: #00E5FF;
  color: #fff;
  padding: 0.75rem 1.5rem;
  font-size: 1.5rem;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.btn-intro:hover,
.btn-intro:active,
.btn-intro:focus {
  background-color: #0288D1;
  color: #fff;
}


.btn-link {
  color: black;
  padding: 0;
  margin: 0;
  border-bottom: black dashed 1px;
  border-radius: 0;
}

.btn-link:hover {
  text-decoration: none;
  border-bottom: grey dashed 1px;
  border-radius: 0;
}

a, a:hover {
  text-decoration: none;
}

nav {
  z-index: 100;
}

.navbar-brand {
    padding: 0 0em 0 0.5em ;
    color: rgba(0,0,0,.5)
    text-decoration: none;
    font-weight: 600;
    border-bottom: none;
}